<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayoutJobInfo"
        android:gravity="left">
        <TextView
            android:text="Job Name: "
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:id="@+id/hvJobNameLabel"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:layout_marginLeft="3dp"
            android:gravity="bottom" />
        <TextView
            android:text="Job Name"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:id="@+id/hvJobNameTextView"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:gravity="bottom"
            android:textColor="#aaaaaa" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayoutHoleInfoWide"
        android:weightSum="1"
        android:layout_gravity="center_horizontal">
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/linearLayoutLeftInfo"
            android:layout_weight="0.5">
            <LinearLayout
                android:orientation="horizontal"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/linearLayoutHoleName">
                <TextView
                    android:text="Hole Name: "
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:id="@+id/hvHoleNameLabel"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:layout_marginLeft="3dp"
                    android:gravity="bottom" />
                <TextView
                    android:text="Hole Name"
                    android:textAppearance="?android:attr/textAppearanceSmall"
                    android:id="@+id/hvHoleNameTextView"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:textColor="#aaaaaa"
                    android:gravity="bottom" />
            </LinearLayout>
            <TextView
                android:text="Hole Description: "
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:id="@+id/hvHoleDescriptionLabel"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginLeft="3dp"
                android:gravity="bottom" />
            <TextView
                android:text="Hole Description"
                android:textAppearance="?android:attr/textAppearanceSmall"
                android:id="@+id/hvHoleDescriptionTextView"
                android:layout_width="match_parent"
                android:layout_height="63.0dp"
                android:layout_margin="3dp"
                android:scrollbars="vertical"
                android:scrollbarStyle="outsideOverlay"
                android:overScrollMode="never"
                android:verticalScrollbarPosition="right"
                android:fadeScrollbars="false"
                android:scrollbarAlwaysDrawVerticalTrack="true"
                android:gravity="top"
                android:textColor="#aaaaaa" />
            <LinearLayout
                android:orientation="horizontal"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/linearLayoutCreated">
                <TextView
                    android:text="Created: "
                    android:textAppearance="?android:attr/textAppearanceSmall"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:id="@+id/hvCreatedLabel"
                    android:layout_marginLeft="3dp"
                    android:gravity="bottom" />
                <TextView
                    android:text="Created At"
                    android:textAppearance="?android:attr/textAppearanceSmall"
                    android:id="@+id/hvCreationDateTextView"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:gravity="bottom" />
            </LinearLayout>
            <LinearLayout
                android:orientation="horizontal"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/linearLayoutLatitude">
                <TextView
                    android:text="Latitude: "
                    android:textAppearance="?android:attr/textAppearanceSmall"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:id="@+id/hvLatitudeLabel"
                    android:layout_marginLeft="3dp"
                    android:gravity="bottom" />
                <TextView
                    android:text="Latitude"
                    android:textAppearance="?android:attr/textAppearanceSmall"
                    android:id="@+id/hvLatitudeTextView"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:gravity="bottom" />
            </LinearLayout>
            <LinearLayout
                android:orientation="horizontal"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/linearLayoutLongitude">
                <TextView
                    android:text="Longitude: "
                    android:textAppearance="?android:attr/textAppearanceSmall"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/hvLongitudeLabel"
                    android:layout_marginLeft="3dp"
                    android:gravity="bottom" />
                <TextView
                    android:text="Longitude"
                    android:textAppearance="?android:attr/textAppearanceSmall"
                    android:id="@+id/hvLongitudeTextView"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:gravity="bottom" />
            </LinearLayout>
        </LinearLayout>
        <Button
            android:text="Edit"
            android:onClick="OnEditHoleButtonClick"
            android:id="@+id/hvEditHoleButton"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="0.15" />
        <BoreholeExplorer.SiteImageView
            android:src="@android:drawable/ic_menu_gallery"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:id="@+id/hvHoleSiteImageView"
            android:onClick="OnHoleSiteImageClick"
            android:layout_weight="0.35" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="47.2dp"
        android:id="@+id/linearLayoutManualControls">
        <Button
            android:text="Up"
            android:layout_width="64.0dp"
            android:layout_height="match_parent"
            android:onClick="OnClickUpButton"
            android:id="@+id/holeViewUpButton" />
        <Button
            android:text="Down"
            android:layout_width="64.0dp"
            android:layout_height="match_parent"
            android:onClick="OnClickDownButton"
            android:id="@+id/holeViewDownButton" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="47.2dp"
        android:id="@+id/linearLayoutAutoControls">
        <Button
            android:text="Start"
            android:id="@+id/holeViewStartButton"
            android:onClick="OnClickStartButton"
            android:layout_width="wrap_content"
            android:layout_height="match_parent" />
        <Button
            android:text="Stop"
            android:id="@+id/holeViewStopButton"
            android:onClick="OnClickStopButton"
            android:layout_width="wrap_content"
            android:layout_height="match_parent" />
        <Button
            android:text="Restart"
            android:id="@+id/holeViewRestartButton"
            android:onClick="OnClickRestartButton"
            android:layout_width="wrap_content"
            android:layout_height="match_parent" />
        <Button
            android:text="Retrieve"
            android:id="@+id/holeViewRetrieveButton"
            android:onClick="OnClickRetrieveButton"
            android:layout_width="wrap_content"
            android:layout_height="match_parent" />
    </LinearLayout>
    <TextView
        android:text="Hole Images:"
        android:textAppearance="?android:attr/textAppearanceMedium"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/holeViewHoleImagesLabel"
        android:gravity="bottom" />
    <ListView
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/holeImageListView" />
</LinearLayout>